<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slow Food</title>
    <link rel="stylesheet" href="foundation.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="row">
      <div class="large-1 columns">
      </div>
      <div class="large-10 columns">&nbsp;
        <a href="#home" id="logo">
           <img src="images/slowlogo.jpg" alt=""><br>
        </a>


        <div class="navigation">
          <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="cart">Cart</a></li>
            <li><a href="/auth/login">Login</a></li>
         </ul>
        </div>

      </div>
      <div class="large-1 columns">
      </div>
    </div>
    <div class="row">
      <div class="large-1 columns">
      </div>
      <div class="body large-10 columns">
        <div class="bg_frame">
          <%= yield %>
        </div>
      </div>
      <div class="large-1 columns">
      </div>
    </div>

    <div class="body2 row">
      <div class="large-1 columns">
      </div>
      <div class="large-10 columns">
        <div class="foot">
          <h5> Craft Academy 2017 &nbsp;&nbsp;</h5>
        </div>

      </div>
      <div class="large-1 columns">
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
<!-- <html>
<head>
<body>
<title>Sinatra Warden</title>

<h1>User authentication</h1>

<p>
  <% if current_user %>
    Logged in as <%= current_user.username %>
    <a href="/auth/logout">Log Out</a></p>
  <% else %>

    <a href="/auth/login">Log In</a>
  <% end %>

  <% if flash[:success] %>
    <div style="color:green;">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html> -->
