<link rel="stylesheet" href="style.css">
<form action="/owner" method="POST">
    Dish name: <input type="text" name="name" id="name1">
    Dish price: <input type="text" name="price" id="price1"> <br>
    Dish category:
    <select name="category">
      <option>starter</option>
      <option>main_course</option>
      <option>dessert</option>
    </select>
    <input type="submit" value="Submit">
</form>
<h1>Our Menu</h1>

<h3>Starters</h3>

   <% @starter.each do | dish | %>
      <p><%= dish.name %>, <%= dish.price %>
      <form action="/owner" method="POST">
        <button name="subject" class="button" type="submit" value='<%= dish.id %>' >Delete</button>
      </form></p><br>
   <% end %>

<h3>Main Courses</h3>

   <% @main_course.each do | dish | %>
      <p><%= dish.name %>, <%= dish.price %>
      <form action="/owner" method="POST">
        <button name="subject" class="button" type="submit" value='<%= dish.id %>' >Delete</button>
      </form></p><br>
    <% end %>

<h3>Desserts</h3>

   <% @dessert.each do | dish | %>
      <p><%= dish.name %>, <%= dish.price %></p>
      <form action="/owner" method="POST">
        <button name="subject" class="button" type="submit" value='<%= dish.id %>' >Delete</button>
      </form></p><br>
   <% end %>
